<div>
  Hey, welcome aboard, this is an example app (fork it on github https://github.com/Schneems/Potential-Friend-Finder) for a very basic way to naturally discover a user's potential friends on a social network based on their existing friends. 

To get started <%= link_to "Login", login_path %> or "<%= link_to "signup", new_admin_path %>" above, you will then either create your own micro social network or use some of the pre-populated users.
</div>