/* @override http://localhost:8888/show_files/pot_friends.css */
/* @override http://localhost:8888/index_files/pot_friends.css */

/* @group Defaults */

html, body {}

body {
  font-family: "Lucida Grande", Sans-serif;
  font-size: 75%;
  height: 100%;
}

label { display: block; font-weight: bold; margin: 0 0 5px 0; }
strong { font-weight: bold; }
em { font-style: italic; }

dl { margin: 14px 0 20px 0; }
dt { font-weight: bold; }
dd { font-size: 18px; margin: 0.25em 0 1em 0; }


h1 { font-size: 2em; font-weight: normal; }
h2 { font-weight: bold; }
h3 { font-size: 1.25em; font-weight: bold; margin: 1em 0; }

li { color: #777; }

/* @end */

/* @group Links */
a {text-decoration: none;
	color: #ADB0F7}

div#user_nav { float: right; font-size: 0.9em; }

img {border:none}


/* @end */


/* @group Content */

p, div {
	 margin-bottom: 1.5em;
}

.new_user {
	margin-bottom: 2.5em;
	padding:  10px;
	border: 1px solid #dde;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #f8f8f8;
}

.new_user p {
	margin-bottom: 0;
}

.new_user input {
	margin-bottom: 1em;
}

.new_user ol {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.user.grid_9 {
	width: 310px;
	margin-bottom: 2.5em;
}

.user:nth-child(3n+1) {
	margin-left: 0;
	clear: both;
}
.user:nth-child(3n) {
	padding-right: 0;
	margin-right: 0;
}

.user img.grid_3 {
	margin-right: 10px;
}

.user .name,
.user .friends {
	margin-bottom: 0.25em;
}

.user .potential_friends{
	clear: both;
}

.user p {
	margin-bottom: 0.25em;
}

/* @end */

.make_friends {
	clear: both;
	overflow: hidden;
}

.make_friends div{
	margin-bottom: 2.5em;
}

.make_friends div:nth-child(8n) {
	clear: both;
}